$primary: #01b075; /* #3D5A80 */
$info: #16171b;/* #98C1D9 */
$light: #fdfefe;/* #E0FBFC */
$warning: #9b3e36; /* #f74b39 /* #EE6C4D */
$dark: #202125; /* #293241 */

@import "../../bootstrap-5.0.2/scss/bootstrap.scss";
